@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --primary: #1e3a8a;
  --primary-foreground: #ffffff;

  --secondary: #e2e8f0;
  --secondary-foreground: #0f172a;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #2563eb;
  --accent-foreground: #ffffff;

  --border: #cbd5e1;
  --input: #e2e8f0;
  --ring: #1e3a8a;

  --radius: 0.625rem;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}

.dark {
  --background: #0a192f;
  --foreground: #e2e8f0;

  --primary: #38bdf8;
  --primary-foreground: #020617;

  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;

  --muted: #0f172a;
  --muted-foreground: #94a3b8;

  --accent: #0ea5e9;
  --accent-foreground: #ffffff;

  --border: #1e293b;
  --input: #1e293b;
  --ring: #38bdf8;

  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}